<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add New Product</h1>
    <form action="/products" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price Per Unit</label>
        <input type="number" name="price" id="price">
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="Dairy">Dairy</option>
            <option value="Fruit">Fruit</option>
            <option value="Vegetable">Vegetable</option>
        </select>
        <button>Submit</button>
    </form>
    <a href="/products">Home</a>
</body>
</html>